a {
	color: blue;
}
a:visited {
	color: blue;
}

form {
	margin: 20px 0px;
}

/* .styled-table credit: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
	margin-bottom: 2rem;
	border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* */
.field {
	margin: 0.5rem 0rem;
	width: 250px;
}
.field label {
	width: 100%;
	border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight:bold; 
    display: block;
    color: white;
    background-color: #009879;
    padding-left: 5px;
    box-sizing: border-box;
}
.field input {
	width: 100%;
	box-sizing: border-box; 
	border: 2px solid #009879;
	padding: 5px;
	font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
button {
	font-weight:bold;
	padding: 5px;
	color: white;
    background-color: #009879;
    border: 2px solid #009879;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
button:hover {
	color: #009879;
    background-color: white;
}