<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Employee application</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/vendor/datetimepicker/jquery.datetimepicker.min.css}" />
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/datetimepicker/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/vendor/momentjs/moment.min.js}"></script>
</head>
<body>

<h1>Edit Employee Data: <span th:text="${employee.name + ' (ID: ' + employee.id + ')'}"></span></h1>

<a href="/">Back to Employees list</a>

<form method="POST" th:action="@{/employees/{id}(id=${employee.id})}" th:object="${employee}">
	
	<input type="hidden" th:field="*{id}" />
	
	<div class="field">
		<label for="name">Name</label>
		<input id="name" th:field="*{name}" />
	</div>
	
	<div class="field">
		<label for="position">Position</label>
		<input id="position" th:field="*{position}" />
	</div>
	
	<div class="field">
		<label for="salary">Salary</label>
		<input id="salary" th:field="*{salary}" />
	</div>
	
	<div class="field">
		<label for="startDate">Start Date</label>
		<input id="startDate" th:field="*{startDate}"  />
	</div>

	<button type="submit">Save</button>
</form>


<script>
$.datetimepicker.setDateFormatter('moment');

$('#startDate').datetimepicker({
	format: "YYYY-MM-DDTHH:mm:ss"
})
</script>

</body>
</html>