<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Employee application</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/vendor/datetimepicker/jquery.datetimepicker.min.css}" />
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/datetimepicker/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/vendor/momentjs/moment.min.js}"></script>
</head>
<body>

<h1>Employee application</h1>

<table class="styled-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Position</th>
			<th>Salary</th>
			<th>Start Date</th>
			<th>Action</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="employee : ${employees}">
			<td th:text="${employee.id}">1</td>
			<td><a th:href="@{/employee/{id}(id=${employee.id})}" th:text="${employee.name}">John Doe</a></td>
			<td th:text="${employee.position}">IT</td>
			<td th:text="${employee.salary}">90k</td>
			<td th:text="${employee.startDate}">2020-01-01T08:00:00</td>
			<td><a th:href="@{/employee/delete/{id}(id=${employee.id})}">Töröl</a></td>
		</tr>
	</tbody>
</table>

<form method="POST" th:action="@{/employees}" th:object="${newEmployee}">
	
	<div class="field">
		<label for="id">ID</label>
		<input id="id" th:field="*{id}" />
	</div>
	
	<div class="field">
		<label for="name">Name</label>
		<input id="name" th:field="*{name}" />
	</div>
	
	<div class="field">
		<label for="position">Position</label>
		<input id="position" th:field="*{position}" />
	</div>
	
	<div class="field">
		<label for="salary">Salary</label>
		<input id="salary" th:field="*{salary}" />
	</div>
	
	<div class="field">
		<label for="startDate">Start Date</label>
		<input id="startDate" th:field="*{startDate}"  />
	</div>
	
	<button type="submit">Save</button>
</form>


<script>
$.datetimepicker.setDateFormatter('moment');

$('#startDate').datetimepicker({
	format: "YYYY-MM-DDTHH:mm:ss"
})
</script>

</body>
</html>