<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Employee application</title>
	<style>
		.employee {
			margin-bottom: 2rem;
		}
		.field {
			margin: 0.5rem 0rem;
		}
		.field label {
			display: block;
		}

	</style>
	<link rel="stylesheet" th:href="@{/vendor/datetimepicker/jquery.datetimepicker.min.css}" />
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/datetimepicker/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/vendor/momentjs/moment.min.js}"></script>
</head>
<body>

<h1>Employee application</h1>

<table class="employee">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Position</th>
			<th>Salary</th>
			<th>Start Date</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="employee : ${employees}">
			<td th:text="${employee.id}">1</td>
			<td th:text="${employee.name}">John Doe</td>
			<td th:text="${employee.position}">IT</td>
			<td th:text="${employee.salary}">90k</td>
			<td th:text="${employee.startDate}">2020-01-01T08:00:00</td>
		</tr>
	</tbody>
</table>

<form method="POST" th:action="@{/}" th:object="${newEmployee}">
	
	<div class="field">
		<label for="id">ID:</label>
		<input id="id" th:field="*{id}" />
	</div>
	
	<div class="field">
		<label for="name">Name:</label>
		<input id="name" th:field="*{name}" />
	</div>
	
	<div class="field">
		<label for="position">Position:</label>
		<input id="position" th:field="*{position}" />
	</div>
	
	<div class="field">
		<label for="salary">Salary:</label>
		<input id="salary" th:field="*{salary}" />
	</div>
	
	<div class="field">
		<label for="startDate">Start Date:</label>
		<input id="startDate" th:field="*{startDate}"  />
		<p>
			<small>Firefox 100 és Chrome 100 verziók fölött ki lehet választani. <br/>
				   Más böngészőkben a formátum: "2020-01-01T08:00:00"
			</small>
		</p>
	</div>
	
	<button type="submit">Add</button>
</form>


<script>
$.datetimepicker.setDateFormatter('moment');

$('#startDate').datetimepicker({
	format: "YYYY-MM-DDTHH:mm:ss"
})
</script>

</body>
</html>